.container {
    width: 100%;
}

.col-drag {
    background-color: #EDEDED;
    height: 100vh;
}

.task {
    margin: 2em;
    background-color: white;
    padding: 1em;
    font-size: 1.25em;
    border: 1px solid #8D8D8D;
}

.header {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.red-header {
    border-top: 5px solid red;
}

.orange-header {
    border-top: 5px solid orange;
}
.green-header {
    border-top: 5px solid green;
}

.col-3 {
    flex: 1;
}