html, body {
    height: 100%;
}

.blue-bg {
    background-color: #3DAFEC;
}

.white-bg {
    background-color: white;
}

.dark-grey-bg {
    background-color: #2F2F2F;
}

.light-grey-bg {
    background-color: #525252;
}

.lighter-grey-bg {
    background-color: #EDEDED;
}

.active-link {
    background-color: #525252;
    border-left: 3px solid #3DAFEC;
}

.blue-txt {
    color: #3DAFEC;
}

.login-button {
    background-color: #3DAFEC;
}

.login-button:hover {
    background-color: #2784b6;
}

a.project-link {
    cursor: pointer;
}

a.project-link:hover {
    text-decoration: underline !important;
}